<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> 공지사항 내부   </title>

  <link rel="stylesheet" href="health_magazine_in_admin.css">  
  <link rel="stylesheet" href="common_assets/globalstyle.css">
  <link rel="stylesheet" href="common_assets/navbar_admin.css">   <!--네비게이션 바 css-->
  <link rel="stylesheet" href="common_assets/footer.css">   <!--푸터 css-->

  <!-- 폰트 연결-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet"> 

  <!--제이쿼리 연결-->
  <script src="common_assets/jquery-3.7.1.min.js"></script>
  <script defer src="common_assets/script_admin.js"></script>


</head>
<body>
  <div class="wrap">

    <div id="navbar"></div>  

   
    <div class="magazine-image">
      <img src="magazine_in.jpg" alt="Magazine Image">
    </div>
    
    <a href="magazine_write_admin.html">
      <button class="write-button">글 수정하러 가기</button>
    </a>
    
    <div id="footer"></div> 

  </div>
</body>
</html>
