<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>병원 안내 페이지</title>

    <link rel="stylesheet" href="common_assets/globalstyle.css" />
    <link rel="stylesheet" href="common_assets/navbar.css" />
    <link rel="stylesheet" href="common_assets/footer.css" />
    <link rel="stylesheet" href="style_introduce.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap"
      rel="stylesheet"
    />

    <script src="common_assets/jquery-3.7.1.min.js"></script>
    <script defer src="common_assets/script.js"></script>
  </head>
  <body>
    <div class="wrap">
      <div id="navbar"></div>

      <img
        src="./assets/section_information.png"
        alt="information section"
        width="100%"
      />
      <h1 class="main_title">병원 안내</h1>
      <div class="info_wrapper">
        <div class="info_box">
          <div>
            <h2>말랑 병원</h2>
            <p class="hospital-description">
              말랑 병원은 개원 이래 환자를 위한 끊임없는 연구와 진료에 대한
              아낌없는 투자로, 세계적 수준의 의료 성과를 이루어냈습니다.
            </p>
          </div>
          <div>
            <p class="info_content">
              말랑 병원은 환자 한 분 한 분의 건강과 행복을 최우선으로 생각하며,
              따뜻한 마음과 신뢰를 바탕으로 최고의 의료 서비스를 제공하고자
              합니다. 단순히 병을 치료하는 것을 넘어, 환자 개개인의 삶의 질을
              높이고, 건강한 일상을 되찾을 수 있도록 돕는 것을 목표로 삼고
              있습니다.
            </p>
            <p class="info_content">
              저희 병원은 항상 환자의 입장에서 생각하며, 환자와 가족들이
              편안하고 안심할 수 있는 의료 환경을 조성하기 위해 작은 부분까지
              세심하게 배려하고 있습니다. 따뜻한 진심과 전문적인 의료 기술이
              조화를 이루는 공간 속에서, 환자분들이 치료와 회복 과정을 온전히
              믿고 맡기실 수 있도록 최선을 다하고 있습니다.
            </p>
          </div>
        </div>
        <hr />
        <div class="info_box">
          <div class="info_index">
            <div class="index_number">01</div>
            <div class="index_title">
              따뜻한 마음과 전문성을 <br />갖춘 말랑 메디컬 센터
            </div>
          </div>
          <div>
            <p class="info_content">
              말랑병원은 연건평 8만5천여평 총 2,764 병상의 국내 최대 병원이다.
              선진의료체계를 기반으로 한 최고 의료진과 최적의 진료 시스템,
              최첨단 의료 장비를 갖추고 고객만족을 실천하며 우리나라의 의료
              발전을 선도해 왔다.
            </p>
            <p class="info_content">
              그 결과 이제 말랑병원은 2023년 외래환자 13,260명(일평균), 재원환자
              926,794명, 응급환자 117,716명을 진료하며, 연간 70,892건의 고난이도
              수술을 시행하고 있다. 말랑병원은 대한민국 국민들이 가장 많이 찾는
              국내 최정상 병원으로 그 명예를 빛내고 있다.
            </p>
          </div>
        </div>
        <div class="achievement_container">
          <div class="achievement_left">
            <div class="achievement_item">
              <p>연간 70,892건의 고난이도 수술 시행</p>
              <div class="circle">1 Year</div>
            </div>
            <div class="achievement_item">
              <p>18년 연속 한국에서 가장 존경받는 병원</p>
              <div class="circle">18 Year</div>
            </div>
            <div class="achievement_item">
              <p>美 뉴스위크 선정, 대한민국 1위</p>
              <div class="circle no1">NO 1</div>
            </div>
          </div>
          <div class="achievement_right">
            <ul>
              <li>6년 연속 대한민국 1위, 美 뉴스위크, 2019~2024년</li>
              <li>
                18년 연속 한국에서 가장 존경받는 병원, 한국능률협회컨설팅,
                2007~2024년
              </li>
              <li>
                한국에서 가장 일하기 좋은 병원 1위, 한국노동협회컨설팅, 2012년
              </li>
              <li>한국 서비스 품질지수(KS-SQI) 1위, 한국표준협회, 2012년</li>
              <li>
                4년 연속 글로벌 고객만족도 1위, 일본능률협회컨설팅, 2008~2011년
              </li>
              <li>
                글로벌 브랜드경영대상 사회책임경영 부문 대상 수상,
                한국능률협회인증원, 2010년
              </li>
              <li>국가고객만족도조사(NCSI) 1위, 한국생산성본부, 2010년</li>
              <li>연구중심병원 선정, 보건복지부, 2013년</li>
              <li>
                간, 신장, 췌장, 심장 등 장기이식 수술건수, 성공률 1위,
                국립장기이식센터, 2012년
              </li>
              <li>
                위암, 대장암, 간암 수술 사망률 평가 1등급, 건강보험심사평가원,
                2012년
              </li>
              <li>환자 수, 진료과목 1위, 국민건강보험공단, 2011년</li>
              <li>
                10대 암 중 9대 암 수술실적 1위, 건강보험심사평가원, 2006, 2007년
              </li>
              <li>6대 암 환자 수술 최다 시행, 보건복지부, 2007년</li>
              <li>주요 30대 질환 수술 최대 시행, 국민건강보험공단, 2006년</li>
              <li>의료기관평가 최상위 병원 선정, 보건복지부</li>
            </ul>
          </div>
        </div>
        <hr />
        <div class="info_box">
          <div class="info_index">
            <div class="index_number">02</div>
            <div class="index_title">
              지역 사회와 함께 성장하는<br />
              신뢰의 병원
            </div>
          </div>
          <div>
            <p class="info_content">
              말랑 병원은 지역 주민들과의 긴밀한 연계를 통해, 지역 사회의 건강을
              책임지는 든든한 지킴이로 자리 잡고 있습니다. 주민 여러분께서
              언제든지 믿고 찾을 수 있도록, 정기적인 건강 검진과 다양한 예방
              프로그램을 운영하며, 일상 속에서 실천할 수 있는 건강 관리의
              중요성을 알리고자 노력하고 있습니다. 이를 통해 단순한 치료를 넘어,
              질병 예방과 관리에 중점을 둔 포괄적인 의료 서비스를 제공하고
              있습니다.
            </p>
            <p class="info_content">
              또한, 말랑 병원은 주민들을 대상으로 다양한 건강 강좌와 의료 정보를
              제공하여, 스스로 건강을 관리할 수 있는 지식과 힘을 키워드리는 것을
              목표로 하고 있습니다. 지역 사회와 함께 호흡하며 성장하는
              병원으로서, 주민 여러분의 건강한 삶을 위해 언제나 최선을 다하고
              있으며, 앞으로도 여러분 곁에서 건강과 행복을 지키는 동반자가 될
              것을 약속드립니다.
            </p>
            <img src="./assets/hospital_lecture.png" alt="" width="350px" />
          </div>
        </div>
        <hr />
        <div class="info_box">
          <div class="info_index">
            <div class="index_number">03</div>
            <div class="index_title">한 사람 한 사람을 위한 따뜻한 진료</div>
          </div>
          <div>
            <p class="info_content">
              말랑 병원은 환자와의 소통을 중요시하며, 진심 어린 진료를 통해
              마음까지 돌보는 병원이 되고자 합니다. 환자의 건강뿐 아니라 심리적
              안정을 고려하여 최상의 의료 서비스를 제공하고 있으며, 환자분들이
              안심하고 치료받을 수 있도록 따뜻한 배려와 세심한 케어를 실천하고
              있습니다. 말랑 병원은 언제나 환자 여러분의 곁에서, 건강과 행복을
              지키기 위해 최선을 다하겠습니다.
            </p>
            <img
              src="./assets/doctors_with_children.png"
              alt=""
              width="350px"
            />
          </div>
        </div>
      </div>

      <div id="footer"></div>
    </div>
  </body>
</html>
