<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>내과 센터 소개 페이지</title>

    <link rel="stylesheet" href="common_assets/globalstyle.css" />
    <link rel="stylesheet" href="common_assets/navbar.css" />
    <link rel="stylesheet" href="common_assets/footer.css" />
    <link rel="stylesheet" href="style_introduce.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap"
      rel="stylesheet"
    />

    <script src="common_assets/jquery-3.7.1.min.js"></script>
    <script defer src="common_assets/script.js"></script>
  </head>
  <body>
    <div class="wrap">
      <div id="navbar"></div>
      <img src="assets/section_medicine_department.png" alt="" width="100%" />
      <div class="button-container">
        <button class="custom-button" onclick="location.href='surgery.html'">
          <span class="text">외과</span>
          <img src="assets/icon_surgery.png" alt="외과 아이콘" class="icon" />
        </button>
        <button
          class="custom-button active"
          onclick="location.href='internal_medicine.html'"
        >
          <span class="text">내과</span>
          <img src="assets/icon_medicine.png" alt="내과 아이콘" class="icon" />
        </button>
        <button class="custom-button" onclick="location.href='pediatrics.html'">
          <span class="text">소아청소년과</span>
          <img
            src="assets/icon_pediatrics_adolescents_department.png"
            alt="소아청소년과 아이콘"
            class="icon"
          />
        </button>
        <button class="custom-button" onclick="location.href='gynecology.html'">
          <span class="text">산부인과</span>
          <img
            src="assets/icon_obstetrics_gynecology_department.png"
            alt="산부인과 아이콘"
            class="icon"
          />
        </button>
      </div>

      <div class="main_department">
        <h1 class="main_department">내과 센터</h1>
        <p class="main_content">
          말랑병원 내과센터는 환자분들의 건강과 삶의 질 향상을 위해 종합적이고
          전문적인 진료를 제공합니다. 각 분야의 전문 의료진이 최신 의료 기술과
          장비를 활용하여 환자 개개인에게 맞춤형 진단과 치료를 제공합니다.
          예방부터 사후 관리까지 모든 과정에서 환자분들이 편안하고 안전하게
          치료받을 수 있도록 최선을 다하고 있습니다.
        </p>
        <p class="main_content">
          내과센터는 급성 질환에 대한 신속한 치료뿐만 아니라, 만성 질환 관리에도
          중점을 두어 환자분들의 장기적인 건강을 지원합니다. 또한 다학제 협진
          시스템을 통해 종합적이고 다각적인 접근으로 환자 상태에 맞는 최적의
          치료 계획을 세우고 있습니다. 말랑병원 내과센터는 앞으로도 환자분들이
          신뢰할 수 있는 의료 서비스를 제공하겠습니다.
        </p>
      </div>
      <div class="department_container">
        <h2>진료과목</h2>
        <hr />

        <div class="department">
          <h3>신장내과</h3>
          <div class="department-content">
            <img
              src="assets/icon_ nephrology.png"
              alt="신경내과 아이콘"
              class="icon"
            />
            <p>
              신장내과는 신장과 관련된 질환을 전문적으로 진료하는 분야로, 만성
              신부전, 급성 신부전, 신증후군, 사구체신염 등을 다룹니다. 말랑병원
              신장내과는 환자 개개인의 상태에 맞춘 세밀한 진단과 치료 계획을
              통해 신장 기능을 최대한 보존하고, 필요한 경우 투석 치료나
              신장이식까지 포괄적으로 제공합니다. 최신의 신장 기능 평가 장비를
              사용하여 환자분들의 상태를 정확하게 모니터링하고, 장기적인 관리를
              통해 합병증을 예방하고자 합니다. 신장 질환 환자들의 삶의 질을
              개선하고, 안정적인 치료를 제공하기 위해 신장내과 의료진은 항상
              최선을 다하고 있습니다.
            </p>
          </div>
        </div>

        <div class="department">
          <h3>종양내과</h3>
          <div class="department-content">
            <img
              src="assets/icon_oncology.png"
              alt="종양내과 아이콘"
              class="icon"
            />
            <p>
              종양내과는 다양한 종류의 암을 진단하고 치료하는 분야로, 고도의
              전문 지식과 정밀한 접근이 요구됩니다. 말랑병원 종양내과는 환자의
              암 종류와 상태에 맞춘 맞춤형 항암 치료를 제공하며, 최신 항암제 및
              면역치료, 표적치료 등을 통해 환자의 생존율과 삶의 질을 높이는 것을
              목표로 하고 있습니다. 환자와 가족이 암 치료 과정에서 겪는 신체적,
              정신적 어려움을 고려하여 세심한 지원과 상담을 제공하며, 다학제적
              협진을 통해 최상의 치료를 계획합니다. 종양내과는 환자들이 희망을
              가지고 치료를 이어갈 수 있도록 따뜻하고 전문적인 케어를
              제공합니다.
            </p>
          </div>
        </div>

        <div class="department">
          <h3>심장내과</h3>
          <div class="department-content">
            <img
              src="assets/icon_ cardiology.png"
              alt="심장내과 아이콘"
              class="icon"
            />
            <p>
              심장내과는 심장 및 혈관과 관련된 다양한 질환을 진단하고 치료하는
              분야로, 고도의 전문 지식과 빠른 판단력이 요구됩니다. 말랑병원
              심장내과는 환자의 심장 질환 종류와 상태에 맞춘 맞춤형 치료를
              제공하며, 최신 심장약물 치료, 관상동맥 중재술, 심장 전기 생리 검사
              및 치료 등을 통해 환자의 심혈관 건강을 개선하고 생존율을 높이는
              것을 목표로 하고 있습니다. 또한, 환자와 가족이 심혈관 질환 치료
              과정에서 겪는 신체적, 정신적 어려움을 세심하게 배려하여, 전문적인
              상담과 지지 서비스를 제공하고 있습니다. 다학제적 협진을 통해
              환자의 상태에 최적화된 치료 계획을 수립하며, 심장내과는 환자들이
              건강한 삶을 회복할 수 있도록 따뜻하고 전문적인 케어를 제공합니다.
            </p>
          </div>
        </div>
      </div>
      <div id="footer"></div>
    </div>
  </body>
</html>
