<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Theme and Global Style Example</title>
  <link rel="stylesheet" href="common_assets/globalstyle.css">
  <link rel="stylesheet" href="common_assets/navbar.css">   <!--네비게이션 바 css-->
  <link rel="stylesheet" href="common_assets/footer.css">   <!--푸터 css-->
  <link rel="stylesheet" href="join_complete.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

  <script src="common_assets/jquery-3.7.1.min.js"></script>
  <script defer src="common_assets/script.js"></script>
</head>
<body>
  <div class="wrap">
    <div id="navbar"></div>  <!--네비게이션 바-->
    <div class="section">    <!--section 사진-->
      <img src="assets/section_join.png" alt="section_img">
    </div>

    <div class="terms_section">
        <div class="join_complete_wrap">
            <p class="title">회원가입이 완료되었습니다 !</p>
      </div>
      <button type="button" class="home_btn" onclick="location.href='home.html'">home으로</button>   <!--회원가입정보 입력창으로-->
    </div>
    

    <div id="footer"></div>  <!--푸터-->

  </div>
</body>
</html>
