/* General Styling */
.section img {
    width: 100%;
    height: auto;
    display: block;
}

.radio-btn {
    display: none;
}

.btn {
    display: inline-block;
    padding: 5px 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
    margin: 5px;
    text-align: center;
    color: #999;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
    width: 100px; /* 버튼 너비 */
    font-size: 12px;
}

.radio-btn:checked + .btn {
    border-color: #333;
    color: #333;
    background-color: #fff;
}

/***** 네비바 스타일링 *****/
.navbar {
    border-bottom: 2px solid #ddd;
    margin-bottom: 2px;
    padding-top: 10px;
    margin-top: 70px;
    position: relative; 
}

.navList {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    position: absolute; 
    top: -62px; 
    left: 0; 
    z-index: 2;
}

.navItem {
    position: relative;
    margin-top: 9px; 
    cursor: pointer;
    padding-top: 31px; 
    line-height: 2;
    margin-right: 15px;
}


.navItem.is-active {
    border-bottom: 2px solid #333;
    font-size: 16px;
    font-weight: 500;
}

.navLink {
    text-decoration: none;
    color: #333 !important;
    font-size: 12px !important; 
    font-weight: 500;
}

/***** 진료과목 선택 스타일링  *****/
.medical_department_list {
    margin-top: 30px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center; /* 내부 콘텐츠를 수평으로 가운데 정렬 */
    flex-wrap: wrap; /* 아이템이 넘칠 경우 다음 줄로 이동 */
}

#listView {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 150px)); /* 가로 길이 설정 */
    gap: 50px;
}

#listView li {
    width: 100%; 
    max-width: 150px;
    background-color: #f5f7f9;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

#listView li:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

#listView .tit {
    font-size: 1.0rem;
    font-weight: 700;
    margin-bottom: 2px;
    color: #000;
}

#listView .keyword {
    font-size: 0.6rem;
    color: #666;
    margin-top: 0;
    margin-bottom: 25px;
}

#listView .keyword span {
    display: inline-block;
    margin-right: 0.5em;
}

#listView .txt {
    display: flex;
    flex-direction: row; /* 아이템을 가로 방향으로 배치 */
    justify-content: space-between; /* 텍스트와 아이콘을 양 끝으로 배치 */
    align-items: center; /* 세로 방향으로 가운데 정렬 */
}

#listView .ico {
    font-size: 1.8rem;
    color: #888;
    margin-top: 80px; 
    margin-left: auto; /* 아이콘을 오른쪽 끝으로 정렬 */
}

/* 의료진 사진 스타일링 */
#staffListView {
    display: flex;
    flex-wrap: wrap; 
    gap: 50px; /* 아이템 간격 설정 */
    justify-content: center; /* 가로로 중앙 정렬 */
    align-items: center; /* 세로로 중앙 정렬 */
    text-align: center;
}

#staffListView li {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 130px; /* 아이템 너비 */
    text-align: center;
}

.favorite-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0; 
}

.favorite-icon {
    width: 30px; /* 아이콘 크기 조정 */
    height: 30px;
}

.doctor-img {
    width: 100px; 
    height: 100px; 
    border-radius: 50%;
    object-fit: cover; /* 이미지 비율 유지 */
}

#staffListView li p {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}

#staffListView li .favorite-btn {
    margin-top: 10px;
    margin-bottom: 40px;
}

 /* 버튼 스타일 */
 .btn_next {
    width: 200px; 
    padding: 10px; 
    background-color: #A6B1BB; 
    color: white; 
    font-size: 15px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; /* 마우스 커서 */
    margin: 30px auto 0 auto; /* 상단 여백과 중앙 정렬 */
    display: block; /* 중앙 정렬을 위한 블록 */
}

.btn_wrap {
    margin-bottom: 70px;
}



  