
html{
    margin: 0;
    padding: 0;
    width: 100%;   
    height: 100%; 
    box-sizing: border-box;  
}


.announcement-table {
    width: 100%;               
    margin: 0;                  
    border-collapse: collapse;
    text-align: center;
}


.announcement-table th, .announcement-table td {
    padding: 12px;
    border: 1px solid #ddd;
}

.announcement-table th {
    background-color: #A6B1BB;
    color: white;
}

.announcement-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.announcement-table tr:hover {
    background-color: #f1f1f1;
}


.section img {
    width: 100%;  
    height: auto;
    display: block;
}

.centered-text {
    text-align: center;
}


.search-box input {
    width: 100%;               
    max-width: 600px;           
    height: 40px;
    padding: 10px;
    margin-right: 10px;
}

.search-button {
    height: 40px;
    padding: 10px;
}

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.search-box label {
    margin-right: 10px;
    font-size: 1rem;
}

.search-box button {
    height: 40px;
    padding: 0 15px;
    font-size: 1rem;
}


.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-numbers a {
    padding: 8px;
    margin: 0 5px;
    text-decoration: none;
}

.pagination-numbers a.active {
    background-color: #A6B1BB;
    color: white;
}


.centered-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.centered-image img {
    max-width: 100%;
    height: auto;
}


.announcement h2 {
    text-align: center;
    font-size: 2rem;
    margin: 40px 0;
    color: #505050;
}

.announcement p {
    text-align: center;
    font-size: 1.125rem;
    color: #707070;
}


