<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>공지사항 페이지</title>

  <link rel="stylesheet" href="common_assets/globalstyle.css" />
  <link rel="stylesheet" href="common_assets/navbar.css" />
  <link rel="stylesheet" href="common_assets/footer.css" />
  <link rel="stylesheet" href="notice.css" />


  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap"
    rel="stylesheet"
  />

  <script src="common_assets/jquery-3.7.1.min.js"></script>
  <script defer src="common_assets/script.js"></script>

</head>
<body>
  <div class="wrap">
     <div id="navbar"></div>
    <div class="section">
      <img src="assets/section_notice.png" alt="secction">
  </div>
    

    <main class="main-content">
    
      <div class="search-box">
        <label for="search">search : </label>
        <input type="text" id="search" placeholder="                   ">
        <button class="search-button">검색핑</button>
      </div>

      <table class="announcement-table">
        <thead>
          <tr>
            <th>번호</th>
            <th>제목</th>
            <th>상태</th>
            <th>등록일</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>22</td>
            <td class="centered-text"><a href="notice_in.html?id=22">말랑병원 9/15~9/18 추석연휴 외래 휴진 안내</a></td>
            <td>공고</td>
            <td>2024-09-05</td>
          </tr>
          <tr>
            <td>21</td>
            <td class="centered-text"><a href="#">말랑병원 갤러리 2025년 전시 신청</a></td>
            <td>공고</td>
            <td>2024-07-07</td>
          </tr>
          <tr>
            <td>20</td>
            <td class="centered-text"><a href="#">말랑병원 개인정보처리방침 개정</a></td>
            <td>공고</td>
            <td>2024-06-18</td>
          </tr>
          <tr>
            <td>19</td>
            <td class="centered-text"><a href="#">*신분증 필수 지참 안내*</a></td>
            <td>공고</td>
            <td>2024-06-15</td>
          </tr>
          <tr>
            <td>18</td>
            <td class="centered-text"><a href="#">말랑병원 보이는 ARS 서비스 안내</a></td>
            <td>공고</td>
            <td>2024-06-08</td>
          </tr>
          <tr>
            <td>17</td>
            <td class="centered-text"><a href="#">말랑병원 정보보호 인증</a></td>
            <td>공고</td>
            <td>2024-06-01</td>
          </tr>
          <tr>
            <td>16</td>
            <td class="centered-text"><a href="#">말랑병원 개인정보처리방침 개정</a></td>
            <td>공고</td>
            <td>2024-05-25</td>
          </tr>
          <tr>
            <td>15</td>
            <td class="centered-text"><a href="#">말랑병원 개인정보처리방침 안내</a></td>
            <td>공고</td>
            <td>2024-04-06</td>
          </tr>
          <tr>
            <td>14</td>
            <td class="centered-text"><a href="#">말랑병원 개원 기념 행사 안내</a></td>
            <td>공고</td>
            <td>2024-04-05</td>
          </tr>
          <tr>
            <td>13</td>
            <td class="centered-text"><a href="#">말랑병원 개원</a></td>
            <td>공고</td>
            <td>2024-03-25</td>
          </tr>
        </tbody>
      </table>

      <div class="pagination">
        <a href="#" class="prev-button">◀</a>
        <div class="pagination-numbers">
          <a href="#" class="active">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
        </div>
        <a href="#" class="next-button">▶</a>
      </div>
    </main>


    <div id="footer"></div>

  </div>
</body>
</html>
