<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>소아청소년과 소개 페이지</title>

    <link rel="stylesheet" href="common_assets/globalstyle.css" />
    <link rel="stylesheet" href="common_assets/navbar.css" />
    <link rel="stylesheet" href="common_assets/footer.css" />
    <link rel="stylesheet" href="style_introduce.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap"
      rel="stylesheet"
    />

    <script src="common_assets/jquery-3.7.1.min.js"></script>
    <script defer src="common_assets/script.js"></script>
  </head>
  <body>
    <div class="wrap">
      <div id="navbar"></div>
      <img
        src="assets/section_pediatrics_adolescents_department.png"
        alt=""
        width="100%"
      />
      <div class="button-container">
        <button class="custom-button" onclick="location.href='surgery.html'">
          <span class="text">외과</span>
          <img src="assets/icon_surgery.png" alt="외과 아이콘" class="icon" />
        </button>
        <button
          class="custom-button"
          onclick="location.href='internal_medicine.html'"
        >
          <span class="text">내과</span>
          <img src="assets/icon_medicine.png" alt="내과 아이콘" class="icon" />
        </button>
        <button
          class="custom-button active"
          onclick="location.href='pediatrics.html'"
        >
          <span class="text">소아청소년과</span>
          <img
            src="assets/icon_pediatrics_adolescents_department.png"
            alt="소아청소년과 아이콘"
            class="icon"
          />
        </button>
        <button class="custom-button" onclick="location.href='gynecology.html'">
          <span class="text">산부인과</span>
          <img
            src="assets/icon_obstetrics_gynecology_department.png"
            alt="산부인과 아이콘"
            class="icon"
          />
        </button>
      </div>

      <div class="main_department single">
        <h1 class="main_department">소아청소년과</h1>
        <p class="main_content">
          말랑병원 소아청소년과는 신생아부터 청소년기까지 아이들의 건강한 성장을
          위해 전문적이고 포괄적인 의료 서비스를 제공합니다. 성장 과정에서
          발생할 수 있는 다양한 질환과 건강 문제에 대해 세심하게 접근하여,
          아이들이 건강하게 성장할 수 있도록 돕고 있습니다. 특히 연령별 특성과
          발달 단계에 맞춘 맞춤형 진료를 통해 각 아이에게 최적의 의료 서비스를
          제공하고 있습니다.
        </p>
        <p class="main_content">
          저희 소아청소년과는 예방접종, 성장 발달 평가, 영양 상담 등을 포함하여
          소아 비만, 알레르기, 감염성 질환 등의 다양한 건강 문제에 대해 진단과
          치료를 진행하고 있습니다. 또한, 소아 천식, 아토피와 같은 만성 질환에
          대해서도 장기적인 관리와 상담을 통해 아이들이 일상 생활에서 건강을
          유지할 수 있도록 지원합니다. 병원 방문이 익숙하지 않은 어린 환자들이
          편안하게 치료받을 수 있도록 따뜻하고 친근한 환경을 조성하여, 치료
          과정에서의 불안감을 줄이고 긍정적인 의료 경험을 제공하고자 합니다.
        </p>
        <p class="main_content">
          부모님과의 긴밀한 소통을 통해 아이들의 건강 상태와 치료 과정을 함께
          공유하고, 부모님들이 아이들의 건강을 관리하는 데 필요한 정보를 충분히
          제공하고 있습니다. 말랑병원 소아청소년과는 아이들이 건강하고 행복한
          미래를 맞이할 수 있도록 최고의 의료 서비스를 제공하겠습니다.
        </p>
      </div>
      <div id="footer"></div>
    </div>
  </body>
</html>
