.main_title{
  font-weight: 300;
  font-size: xx-large;
  color: #A6B1BB;
  padding: 100px 200px;
}

.greeting_content{
  padding: 0px 234px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  color: #333333;
}

.sub_title{
  padding: 0 0 38px 38px;
  font-size: 20px;
  color: #444444;
}

.greeting_main_content{
  font-size: 13px;
  padding-left: 100px;
}

.main_doctor {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.main_doctor_name {
  font-size: 20px;
  font-weight: bolder;
}

.greeting_main_content p {
  margin-bottom: 40px; 
}



.doctor_name {
  font-size: 24px;
  font-weight: bold;
  margin-right: 10px;
}

.doctor_details {
  display: flex;
  align-items: flex-end; 
}

.career_info {
  display: flex;
  align-items: flex-end; 
}


.position {
  font-size: 16px;
  color: #555;
  margin-left: 5px;
}

.career_info {
  display: flex;
  align-items: center;
}

.career_title {
  font-size: 18px;
  margin-left: 10px;
}

.profile_section {
  flex: 0 1 calc(50% - 30px); /* Each profile takes up 50% of the width, minus the gap */
  display: flex;
  gap: 30px;
  padding: 20px;
  box-sizing: border-box;
}

.doctor_info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  padding: 50px 200px;
}

.profile_section ul{
  font-size: 12px;
}

.info_wrapper{
  margin: 0 300px;
  padding: 0 50px;
  padding-bottom: 70px;
}

.info_box{
  display: flex;
  justify-content: space-between;
}


.info_box > div {
  width: 48%;
}

.info_content{
  font-size: 12px;
  color: #666;
  padding-right: 30px ;
  padding: 10px 0;
}

.info_box h2 {
  font-size: x-large;
  color: #A6B1BB;
  margin-bottom: 10px;
  text-align: center;
}

.info_box h2::after{
  content: "";
    display: block;
    width: 10px; /* 점의 크기 */
    height: 10px;
    background-color: #a0989894; /* 점의 색상 */
    border-radius: 50%; /* 점을 원형으로 만들기 */
    margin: 16px auto 0;
}

.hospital-description {
  font-size: 1em;
  color: #3d3c3c;
  width: 85%;
  line-height: 1.6;
  padding: 30px;
  text-align: center;
}

.info_index {
  align-items: center; /* 중앙 정렬 */
  margin-bottom: 20px;
}

.index_number {
  font-size: 2.5em; /* 큰 숫자 크기 설정 */
  font-weight: bold;
  color: #555;
  margin-right: 20px; /* 숫자와 제목 사이 간격 */
}

.index_title {
  font-size: 1.2em;
  color: #666;
  font-weight: 600;
}

.achievement_container {
  display: flex;
  margin-top: 10px;
}

.achievement_left {
  width: 35%;
  padding-right: 50px;
}

.achievement_right {
  width: 65%;
}

.achievement_item {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.circle {
  width: 90px;
  height: 90px;
  background-color: #4A4A4A;
  border-radius: 50%;
  color: white;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 15px;
}

.circle.no1 {
  width: 100px;
  height: 100px;
  background-color: #008080;
}

.achievement_left p {
  font-size: 14px;
  color: #333;
  margin: 0;
  line-height: 1.5;
}

.achievement_right ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.achievement_right li {
  margin-bottom: 10px;
  font-size: 12px;
  color: #333;
  line-height: 1.5;
}

.achievement_right li::before {
  content: '• ';
  color: #4A4A4A;
  font-weight: bold;
}

.achievement_left p {
  font-size: 16px; /* 글씨 크기 조정 */
  color: #333;
  font-weight: bold; /* 글씨를 굵게 설정 */
  margin: 0;
  line-height: 1.4; /* 세로 간격 조정 */
  margin-right: 10px;
  margin-bottom: 5px; /* 동그라미와 텍스트 사이 간격 조정 */
  width: 133px;
}

.contact-section {
  text-align: center;
  padding: 100px 0;
}

.contact-section h2 {
  font-size: 1.2em;
  color: #a0989894;
}

.contact-section h1 {
  font-size: 2em;
  margin: 10px 0 30px;
  color: #8b5e34; /* 적절한 색상으로 수정 */
}

.details-container {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.info-item {
  text-align: center;
  width: 30%;
}

.info-item .icon {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.info-item h3 {
  font-size: 1.1em;
  color: #8b5e34;
  margin-bottom: 5px;
}

.phone-number {
  font-size: 1.5em;
  color: #8b5e34;
}

.map-container {
  margin-top: 20px;
}

.map-container img {
  max-width: 100%;
  height: auto;
}

.map{
  padding: 80px 0;
}



.button-container {
  display: flex;
  justify-content: space-around;
  padding: 60px 150px;

}

.custom-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  width: 200px;
  height: 70px;
  font-size: 1rem;
  color: #333;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
}

.custom-button.active {
  background-color: #e0e4e9;
  border-color: #aaa;
}

.custom-button:hover {
  background-color: #f5f5f5;
}

.custom-button .text {
  flex-grow: 1;
  font-weight: bold;
  text-align: left;
}

.custom-button .icon {
  width: 30px;
  height: 30px;
}


.main_department h1 {
  text-align: center;
  font-weight: 300;
  font-size: xx-large;
  color: #A6B1BB;
  margin-top: 20px;
  position: relative; /* 아래 점을 추가하기 위해 위치 속성을 조정 */
}

.main_department h1::after {
  content: "";
  display: block;
  width: 8px; /* 점의 크기 */
  height: 8px;
  background-color: #a0989894; /* 점의 색상 */
  border-radius: 50%; /* 점을 원형으로 만들기 */
  margin: 16px auto 0;
}

.main_department .main_content {
  font-size: 0.9em;
  color: #666;
  width: 36%;
  margin: 20px auto; /* 요소를 가운데 정렬 */

}

.department_container {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 30px;
}

.department_container h2{
  font-size: 1em;
  font-weight: bold;
  color: #333;
  margin: 10px 0;
}

.department_container hr{
  border: 0;
  height: 1px;
  background-color: #5A4D45;
  margin-bottom: 30px;
}

.department {
  margin: 50px;
}

.department h3 {
  font-size: 1em;
  font-weight: bold;
  color: #906756;
  margin-bottom: 10px;
  display: inline-block; /* 글자 길이에 맞춰 밑줄 적용 */
  position: relative;
}

.department h3::after {
  content: "";
  display: block;
  width: 100%; /* 글자 길이에 맞추기 */
  height: 6px; /* 밑줄 두께 */
  background-color: #e0d7cf9c; /* 밑줄 색상 */
  position: absolute;
  bottom: 0; /* 텍스트 아래에 위치 */
  left: 0; /* 텍스트 시작 위치에 맞추기 */
}

.department-content {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.department .icon {
  width: 40px;
  margin: 20px;
}

.department-content p {
  font-size: 0.9em;
  color: #555;
  line-height: 1.6;
  padding-left: 20px;
}

.single{
  margin-bottom: 70px;
}